---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import BentoGrid from '../components/BentoGrid.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Nav />
  <main id="main-content">
    <BentoGrid />
  </main>
  <Footer />
</Layout>
